@{
    ViewBag.Title = "Contact";
}
<h2>Lab 5.</h2>
<h3>Daniel Brenes</h3>

<address>
    ITSE 1430 Intro to C#<br />
    Fall 2020 - 12.11.2020<br />
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">daniel.brenes@my.tccd.edu</a><br />
    
</address>